<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>GELBSTICH</string>
	<key>CFBundleDisplayName</key>
	<string>In der Regel sind die 90er vorbei</string>
	<key>CFBundleIdentifier</key>
	<string>com.gelbstich.inderregel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9 build 2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery-1.6.1.min.js</string>
				<string>regelscript.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>regel.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Unclutters the interface of Austrian online newspaper derstandard.at</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.derstandard.at</string>
				<string>*.diestandard.at</string>
				<string>*.dastandard.at</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://gelbstich.com/inderregel/update.plist</string>
	<key>Website</key>
	<string>http://gelbstich.com/inderregel</string>
</dict>
</plist>
