/*
Name: In der Regel sind die 90er vorbei Extension
Author: Gelbstich
Version: 0.9
https://bitbucket.org/moritz/in-der-regel-sind-die-90er-vorbei/
BSD-License
*/


html,body,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;}ol,ul{list-style:none;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}article,aside,dialog,figure,footer,header,hgroup,menu,nav,section{display:block;}



/* ==================================================================================================================== */
/*    90s B GONE MODULE                                                                                                 */
/* ==================================================================================================================== */



/* ----------------------------------------------------------------------------------------------------------------------------
== Remove Background Colors
** ---------------------------------------------------------------------------------------------------------------------------- */
html, body, #pageTop, #documentCanvas, .white, .graugruen, .subBgRight, .box,
#navLine2, #navLine1, #navLine1 li ul  {background-color: #fff !important;}
#navigation {background-image: none !important;}

#navLine1, #navLine1 a {color:#000 !important;}
#navLine2, #navLine2 a {color:#000 !important;}


/* ----------------------------------------------------------------------------------------------------------------------------
== Restore Standard UI Behavior
** ---------------------------------------------------------------------------------------------------------------------------- */
#pageTop, #documentCanvas, #breadCrumbs, #navLine1, #navLine2, .siteFooter {position:static !important; z-index: none !important;}

#navigation {position:relative !important; border-bottom: 1px dotted #ccc !important; padding-bottom: 1em !important;}

#ivw {position: static !important; display: none !important;}

#documentCanvas {margin-top: 1em !important; padding-top: 1em !important; border-top: none !important;}

html {width: 100% !important;}
body {width: 975px !important; margin: 0 auto !important; padding-top: 0em !important;}

#centerThis {position: relative !important; width:975px !important; height: auto !important; top:none !important; left:none !important; 
margin:0 auto !important; border: none !important;}


#pageTop, #breadCrumbs, #navigation, #documentCanvas, #widgets {float: left; top: auto !important; left: auto !important; height: auto !important;
border-top: none !important;}

#pageTop { margin-top: 3em !important; }

#widgets {float: right; position: static !important;}

.siteFooter {width:auto !important; height: auto !important;}

/* ==================================================================================================================== */
/*    REMOVE CLUTTER MODULE                                                                                             */
/* ==================================================================================================================== */
#toolbar, #weiterLesen, #wetterWidget, #ivw, #navHead, .lookupLinksArtikel {display: none !important;}
#navLine1, #navLine2 {padding-left: 0px !important;} 






/* ==================================================================================================================== */
/*    ASOZIAL-MODE™                                                                                                     */
/* ==================================================================================================================== */
#articleTools {display: none !important;}




/* ==================================================================================================================== */
/*    SHUT UP MODULE                                                                                                    */
/* ==================================================================================================================== */
.communityCanvas {display: none !important;}




